.navi {
  display: flex;
  width: 100%;
  .navi_clock {
    display: flex;
    align-items: center;
    justify-self: center;
  }
  .navi_ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #b5cbdf;
    border: 1px solid transparent;
    border-radius: 8px;
    padding-left: 1rem;
    a {
      color: darkgoldenrod;
      text-decoration: none;
    }
    a:visited {
      text-decoration: none;
      color: darkgoldenrod;
    }
    a:hover {
      color: #b79238;
      text-decoration: none;
    }
    .navi_ul_items {
      display: flex;
      .active {
        color: goldenrod;
      }
    }
    .navi-icon {
      display: flex;
      align-items: center;
      margin-right: 2rem;
    }
    .navi_item {
      margin: 1rem;
    }
  }
}
