.training {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    & > * {
        margin: .5rem;
    }

    .training-parts {
        display: flex;
        & > * {
            margin-right: .5rem;
        }
    }

    .cell-controls {
        cursor: pointer;
    }
}