.navi {
  display: flex;
  width: 100%;
  .navi_ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #b5cbdf;
    border: 1px solid transparent;
    border-radius: 8px;
    a {
      text-decoration: none;
    }
    a:visited {
      text-decoration: none;
      color: darkgoldenrod;
    }
    .navi_item {
      margin: 1rem;
    }
  }
}
