.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  width: 75px;
  padding: 0.4rem;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgb(38 38 38 / 4%), 0 4px 8px rgb(38 38 38 / 16%)
}